<div class="about-page">
  <p class="intro">
    Hello! I'm Abhay Kumar, a passionate Angular developer with a strong
    background in building dynamic and responsive web applications. With just
    over an year of experience in the industry, I have honed my skills in
    Angular, TypeScript, HTML, and CSS to deliver high-quality software
    solutions.
  </p>

  <h2>Skills</h2>

  <ul>
    <li>Angular</li>
    <li>TypeScript</li>
    <li>JavaScript</li>
    <li>HTML & CSS</li>
    <li>DotNet</li>
    <li>RESTful APIs</li>
    <li>Git</li>
    <li>C++</li>
  </ul>

  <h2>Experience</h2>
  <p>
    I have worked as a application developer in C++ in start and switched to web
    development in Angular. I have worked on multiple projects in Angular and
    DotNet. I currently work as Software development engineer in AVL India. I
    believe in the concept of <i>"doing it perfect the first time"</i>.
  </p>
</div>
